.form-container {
    display: flex;
    justify-content: center;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75px;
    row-gap: 20px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 10px;
}

.container-input {
    margin-bottom: 10px;
}

.input {
    width: 300px;
}

.button{
    width: 200px;
    height: 50px;
}

.container-button-confirm{
    padding-top: 10px;
    padding-left: 100px;
}

.container-button-cancel{
    padding-top: 10px;
    padding-right: 50px;
    width: 200px;
}